__pycache__
*venv*
./build
utils/
tests

*egg-info*

*dist*

*build*

test.ipynb
.vscode
.pytest_cache
.coverage
.flake8
.pre-commit-config.yaml
*.pkl
*.ipynb

case_study/
pxmeter_results/
cloudmol/

*.cif